<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @xml_test.name %>
</p>

<p>
  <strong>Xslt:</strong>
  <%= @xml_test.xslt %>
</p>

<p>
  <strong>Output:</strong>
  <%= @xml_test.output %>
</p>

<%= link_to 'Edit', edit_xml_test_path(@xml_test) %> |
<%= link_to 'Back', xml_tests_path %>
