<%= form_for(@test) do |f| %>
  <div class="clearfix">
    <div class="form-group formgroup-left">
      <%= f.label :name %><br>
      <%= f.text_field :name, :size => 80, :class => 'fifty-text' %>
    </div>
    <div class="form-group btngroup-right">
      <div class="btn-group">
        <button type="submit" name="action" class="btn btn-primary">Save</button>
        <button type="submit" name="action" class="btn btn-default">Validate</button>
        <%= link_to "Cancel", tests_path, :class => 'btn btn-default' %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :xslt %><br>
    <div class="text-border">
      <%= f.text_area :xslt, :rows => 8, :class => 'xsl-text' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :output %><br>
    <div class="text-border">
      <%= f.text_area :output, :rows => 8, :class => 'out-text' %>
    </div>
  </div>
<% end %>
