<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @test.name %>
</p>

<p>
  <strong>Xslt:</strong>
  <%= @test.xslt %>
</p>

<p>
  <strong>Output:</strong>
  <%= @test.output %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
